body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: cadetblue;
}

header {
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}

.heading {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product {
  width: 20%;
  margin: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 60%;
  max-height: 370px;
  object-fit: cover;
  background-color: black;
  border-radius: 5px;
}

.product-details {
  padding: 10px;
  text-align: center;
}

.product-details h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.product-details p {
  margin: 0;
  margin-top: 20px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 20px;
}

.product-buttons button {
  color: white;
  background-color: black;
  border: none;
  padding: 8px 96px;
  border-radius: 10px;
  cursor: pointer;
}

.heading-2 {
  text-align: center;
  font-size: 50px;
}

.cart-container {
  background-color: cadetblue;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cart-item {
  width: 10%;
  margin: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  /* gap: 20px; */
}

.cart-container .cart-item {
  flex-basis: auto;
  width: auto;
}

.cart-container h2 {
  margin-top: 0;
}

.cart-item img {
  width: 20%;
  max-height: 200px;
  object-fit: cover;
  background-color: black;
  border-radius: 5px;
}

.cart-item-details {
  padding: 10px;
  text-align: center;
}

.cart-item-details h2 {
  margin-top: 0;
  margin-bottom: 5px;
  width: 30vw;
}

.cart-item-details p {
  margin: 0;
}

.buynow {
  color: white;
  background-color: black;
  border: none;
  padding: 8px 106px;
  border-radius: 10px;
  cursor: pointer;
}
.buynow-2{
    color: white;
    background-color: black;
    padding: 10px;
    width: 30%;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0px none;
    cursor: pointer;
}
.product-single{
    /* padding: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-single-img{
    /* margin: 20px; */
    height: 50vh;
    width: 90vw;
    padding: 50px;
}
.product-details-single{
    color: white;
    background-color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.single-product{
    background-color: red;
}