*{
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
    overflow-x: hidden;
}
.bg{
    background-image: url(./assets/Photos/futuristic-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.first{
    /* height: 100%; */
    /* background-repeat: no-repeat ; */
    padding-left: 130px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* height: 100%; */
}
.first-1{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* align-items: center; */
}
.first-1-ul-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    /* padding-top: -30px; */
    font-size: 15px;
    font-weight: 300;
    /* flex-wrap: wrap; */
}
.item-1-li{
    margin-right: 50px;
    cursor: pointer;
}
.item-1-li:hover{
    /* margin-right: 50px; */
    /* cursor: pointer; */
    text-decoration: underline;
    color: orangered;
    /* transform: scale(1.2); */
    /* -webkit-transform: scale(1.2); */
}
.first-1-ul-2{
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    list-style-type: none;
    /* flex-wrap: wrap; */
}
.item-2-li{
    margin-right: 60px;
    color: white;
}
.btn-navbar{
    width: 120px;
    height: 120%;
    text-align: center;
    padding-top: 20px;
    /* padding-top: 15px; */
    margin-top: -20px;
    background-color: orangered;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.item-2-li:hover{
    cursor: pointer;
    color: orangered;
    transform: scale(0.9);
}
.btn-navbar:hover{
    color: orangered;
    background-color: white;
}
.first-2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* flex-wrap: wrap; */
}
.first-2-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    /* flex-wrap: wrap; */
}
.first-2-1-text{
    padding-top: 30px;
}
.first-2-1-text-p{
    color: white;
    font-size: 45px;
    font-weight: 700;
    /* height: 80%; */
}
.first-2-2-text{
    padding-top: 20px;
    width: 100%;
}
.first-2-2-text-p{
    color: white;
    font-size: 15px;
    font-weight: 200;
}
.second{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.second-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    /* flex-wrap: wrap; */
}
.get{
    color: white;
    background-color: orangered;
    width: 20%;
    height: 70%;
    /* margin-left: 20px; */
    font-size: 19px;
}
.get:hover{
    color: orangered;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.learn{
    color: white;
    /* width: 70px; */
    height: 70%;
    /* width: 15%; */
    width: 18%;
    border: 1px solid white;
    background:none;
    margin-left: 20px;
    font-size: 19px;
}
.learn:hover{
    color: orangered;
    background-color: white;
    cursor: pointer;
    font-weight: 600;
}
.playbutton{
    position: relative;
    top: 190px;
    height: 50px;
    width: 50px;
    right: 220px;
    backdrop-filter: blur(8px);
    /* cursor: pointer; */
    z-index: 1;
    /* background-color: gray; */
}
.playbutton:hover{
    cursor: pointer;
    /* transform: scale(1.3); */
}
.king{
    /* position: relative;
    right: 90px; */
    margin-right: 110px;
    /* flex-grow: 20; */
}
.king-text{
    /* width: 30%; */
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.right-arrow{
    position: relative;
    top: -20px;
    left: 330px;
}
/* 2nd div */
.second-div{
    background-color: white;
    /* padding-top: 40px; */
    padding-bottom: 30px;
    padding-left: 130px;
    padding-right: 120px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}
.second-text{
    color: black;
    text-align: center;
    align-self: center;
    font-size: 50px;
    font-weight: 700;
    padding-inline: 160px;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 70px;
    /* flex-wrap: wrap; */
}
.card-1{
    height: 220px;
    width: 22%;
    margin-right: 10px;
}
.card-1:hover{
    transform: scale(0.9);    
}
.bgi-1{
    background-image: url(./assets/Photos/image\ 2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.bgi-2{
    background-image: url(./assets/Photos/image\ 4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.bgi-3{
    background-image: url(./assets/Photos/image\ 3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.bgi-4{
    background-image: url(./assets/Photos/Rectangle\ 56.png);
    background-size: 100% 100%;
    background-repeat: no-repeat ;
}
.blur-div{
    position: relative;
    top: 69%;
    /* height: 100%; */
    /* width: 100%; */
    /* background:black; */
    /* -webkit-filter: blur(5px); */
    /* filter: blur(90%); */
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* flex-wrap: wrap; */
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* margin-bottom: 20px; */
    width: 95%;
    /* height: 9vh; */
}
.starsdiv{
    /* background-color: blue; */
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.heading-1{
    color: white;
    font-size: 13px;
    font-weight: 300;
    padding-top: 4px;
}
.genre-1{
    color: white;
    font-size: 10px;
    font-weight: 300; 
    padding-top: 5px;
    padding-bottom: 4px;   
}
.five-stars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.download-1{
    background-color: orangered;
    color: white;
    height: 30px;
    width: 40%;
    /* margin-right: 12px; */
    /* justify-content:flex-start; */
}
.download-1:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: orangered;
}
.img-card-text{
    height: 350px;
    width: 80%;
}
.card-text{
    padding-top: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
}
.text-text-buttons{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 100%;
    margin-left: 40px;
    margin-right: 50px;
}
.war-text{
    color: black;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.4;
    width: 79%;
}
.best-epi-text{
    color: gray;
    font-size: 12px;
    font-weight: 400;
    width: 80%;
}
.buttons-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.learn-more{
    height: 40px;
    width: 20%;
    margin-left: 30px;
    border: 1px solid orangered;
    background-color: white;
    color: orangered;
    cursor: pointer;
}
.learn-more:hover{
    background-color:orangered;
    border: 2px solid orangered;
    font-weight: 700;
    color: white;
}
.explore:hover{
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    font-weight: 700;
}
.explore{    
    cursor: pointer;
    height: 40px;
    width: 20%;
    border: 1px solid orangered;
    background-color:orangered;
    color: white;
}
.text-buttons{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.game{
    color: black;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.4;
    width: 40%;
}
.btns-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.left-arrow-btn{
    margin-right: 20px;
    height: 50px;
    width: 60px;
    border: none;
    background-color: pink;
}
.left-arrow-btn:hover{    
    cursor: pointer;
    transform: scale(1.1);
}
.next-arrow-btn{
    /* margin-right: 20px; */
    background-color: orangered;
    height: 50px;
    width: 60px;
    border: none;
}
.next-arrow-btn:hover{
    cursor: pointer;
    transform: scale(1.1);    
}
.two-cards{
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.heroes{
    height: 250px;
    width: 250px;
}
.heroes:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.card-text-2{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 50%;
}
.for-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.heading{
    color: black;
    font-size: 25px;
    font-weight: 600;
    width: 70%;
}
.genre{
    color: orangered;
    font-size: 14px;
    font-weight: 500;
}
.small-text{
    color: gray;
    width: 70%;
    font-size: 13px;
    font-weight: 400;
}
.download{
    color: white;
    background-color: orangered;
    cursor: pointer;
    border: none;
    font-size: 15px;
    width: 40%;
    height: 50px;
}
.download:hover{
    color: white;
    background-color: black;
    transform: scale(1.1);
}

.three-cards{
    padding-top: 40px;
    padding-left: 130px;
    padding-right: 120px;
    padding-bottom: 40px;
    background-color: black;
}
.most{
    text-align: center;
    padding-inline: 430px;
    color: white;
    font-size: 40px;
    font-weight: 600;
}
.noraml-text{
    color: white;
    font-weight: 20px;
    font-weight: 300;
}
.img-1-1-1{
    height:350px;
    width:70%;
}
.bigger-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 150%; */
}
.text-2-imgs{
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly;
    /* width: 50%; */
}
.noraml-text{
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    color: white;    
    width: 80%;
}
.second-img{
    height:250px;
    width:250px;
    z-index: 1;
}
.third-img{
    margin-top: 100px;
    margin-left: 40px;
    height:150px;
    width:220px;
    z-index: 1;
}
.two-img-imgs{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}
.bg-image-game{
    width: 60%;
    position: absolute;
    top: 2780px;
    left: 630px;
    z-index: 0;
}
.the-big-img{
    height: 100vh;
    width: 100%;
    filter:brightness(20%);
}
.big-img{
    background-color: black;
}
.unf{
    color: white;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    /* position: absolute; */
    position: relative;
    top: -550px;
    left: 24%;
    /* height: 60%; */
    width: 50%;
}
.text-unf{
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: -540px;
    /* height: 50%; */
    width: 30%;
    /* position: absolute; */
    left: 520px;
    /* top: 20px; */
}
.download-5{
    color: white;
    background-color: orangered;
    /* height: 5%; */
    position: relative;
    top: -450px;
    left: 670px;
    height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    /* width: 8%; */
}
.download-5:hover{
    cursor: pointer;
    color: orangered;
    background-color: white;
    transform: scale(1.1);
}
.footer{
    /* margin-top: -10px; */
    padding-left: 130px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
}
.col-footer{
    /* padding-top:50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
}
.last-text-1{
    font-size: 13px;
    font-weight: 300;
    color: white;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.facebook:hover , .twitter:hover , .instagram:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.heading-last{
    color: white;
    font-weight: 16px;
    font-weight: 500;
    cursor: pointer;
}
.heading-last:hover{
    text-decoration: underline;
    transform: scale(0.9);
}
.last-text{
    color: white;
    font-weight: 200;
    font-size: 13px;
}