*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    /* max-width: 100%; */
}
body{
    
    overflow-x: hidden;
}
.hr{
    width:85%;
    margin-top: 20px;
    /* text-align:left; */
    margin-left:110px;
    margin-right:110px;
}
.hr-2{
    width:99%;
    text-align:left;
    margin-left:0
}
.main-bg-img{
    /* background-color: aqua; */
    background-image: url(./assets/Photos/mainBackground.png);
    /* filter: blur(2px);
    -webkit-filter: blur(2px); */
    background-size: 100% 100%; 
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    /* filter: blur(50%);
    -webkit-filter: blur(50%); */
    /* backdrop-filter:10px; */
    /* backdrop-filter: blur(20px); */
}
.navbar{
    padding-left: 160px;
    padding-right: 120px;
    padding-top: 50px;
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}
.ul-1{
    padding-top: 25px;
    /* padding-inline: 30px; */
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content:center;
    /* width: 100%; */
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.li-1{
    padding-inline: 45px;
}
.li-1:hover{
    /* cursor: pointer; */
    text-decoration: underline;
    cursor: pointer;
    transform: scale(0.9);
    /* padding-inline: 45px; */
}
.texts-2-1-btn{
    padding-left: 160px;
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    /* height: 100%; */
    /* padding-top: -600px; */
}
.text-1{
    margin-top: 40px;
    color: white;
    font-weight: 500;
    font-size: 75px;
    line-height: 81px;
    padding-bottom: 20px;
    /* filter: brightness(200%);
    -webkit-filter: brightness(200%); */
}
.text-2{
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
    width: 50%;
}
.learn{
    margin-top: 30px;
    color: white;
    background-color: #6663e9;
    border-radius: 40px;
    width: 22%;
    height: 40px;
    border: none;
    cursor: pointer;
}
.learn:hover{
    transform: scale(0.91);
    transition: 0.5s;
}
.for-btn{
    /* position: relative; */
    /* top: 0px; */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    z-index: 10;
}
.logo-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #6663e9;
}
.big-btn{
    background-color: white;
    border-radius: 20px;
    height: 120px;
    width: 94%;
    position: absolute;
    top: 90%;
    /* z-index: 1; */
}
.logo-blue{
    font-size: 50px;    
    font-weight: 600;
    font-family: 'Adamina';
}
.second{
    background-color: whitesmoke;
}
.modern,.modern-1{
    padding-top: 80px;
    color:black;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    /* width: 120%; */
    /* padding-inline: 550px; */
}
.modern-1{    
    padding-top:0px;
    /* padding-bottom: 10px; */
}
.second{
    padding-left: 180px;
    padding-right: 180px;

}
.row-1, .row-2, .row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    padding-top: 80px;
    /* padding-bottom: 80px; */
}
.row-2{
    height: 49vh;
    /* margin-top: 100px; */
}
.row-3{
    margin-top: 10px;
}
.card-img{
    height: 300px;
    width: 370px;
    border-radius: 15px;
    /* padding-bottom: 40px; */
}
.row-1-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}
.row-1-card-1,.row-1-card-2,.row-1-card-3{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45vh;
    height: 100px;
    margin-left: 20px;
    position: absolute;
    top: 178vh;
    z-index: 100;
}
.row-1-card-2{
    position: absolute;
    top: 180vh;
    left: 80vh;
}
.row-1-card-3{
    position: absolute;
    top: 184vh;
    left: 135vh;
}
.row-2-card-1,.row-2-card-2,.row-2-card-3{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45vh;
    height: 100px;
    margin-left: 20px;
    position: absolute;
    top: 241vh;
    z-index: 100;
}
.row-2-card-2{
    position: absolute;
    top: 240vh;
    left: 80vh;
}
.row-2-card-3{
    position: absolute;
    top: 237vh;
    left: 135vh;
}
.row-3-card-1,.row-3-card-2,.row-3-card-3{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 45vh;
    height: 100px;
    margin-left: 20px;
    position: absolute;
    top: 291vh;
    z-index: 100;
}
.row-3-card-2{
    position: absolute;
    top: 293vh;
    left: 80vh;
}
.row-3-card-3{
    position: absolute;
    top: 298vh;
    left: 135vh;
}
.col-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name{
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.amount{
    color: #6663e9;
    font-size: 15px;
    font-weight: 600;
}
.details{
    cursor: pointer;
    color: white;
    background-color:#6663e9;
    border-radius: 40px;
    width: 13vh;
    height: 40px;
    align-self: center;
    border: none;
}
.details:hover{
    transform: scale(0.9);
    /* color:#6663e9 ;
    background-color: white; */
}
.img-1{
    /* height: 100%; */
    position: relative;
    top: -50px;
}
.img-2{
    position: relative;
    top: -30px;
}
.img-4{
    position: relative;
    top: 50px;
}
.img-5{
    position: relative;
    top: 30px;
}
.img-7{
    position: relative;
    top: -50px;
}
.img-8{
    position: relative;
    top: -30px;
}
.third{
    padding-right: 180px;
    /* padding-right: 180px; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
    /* align-items: flex-start; */

}
.bg-img-1{
    height: auto;
    width: auto;
    /* border: 1px solid black; */
    width:50%;
}
.coltext-1{
    margin-left: 200px;
    width: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.mta{
    width: 100vh;
    color: black;
    font-size: 75px;
    font-weight: 600;
    /* border: 1px solid red; */
}
.lorem1{
    color: black;
    font-weight: 300;
    font-size: 20px;
    padding: 30px 0px 30px 0px;
    align-self: flex-start;
    width: 80%;
}
.lorem2{
    color: black;
    font-weight: 300;
    font-size: 20px;
    padding: 30px 0px 30px 0px;
}
.details-2{
    cursor: pointer;
    color: white;
    background-color:#6663e9;
    border-radius: 40px;
    width: 22vh;
    height: 44px;
    /* align-self: center; */
    border: none;
    align-self: flex-start;
}
.details-3{
    cursor: pointer;
    color: white;
    background-color:#6663e9;
    border-radius: 40px;
    width: 22vh;
    height: 44px;
    /* align-self: center; */
    border: none;
}
.details-2:hover,.details-3:hover{
    transform: scale(0.9);
}
.fourth{
    padding-left: 180px;
    /* padding-right: 180px; */
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between;
}
.uniqueh{
    color: black;
    font-size: 75px;
    font-weight: 600;
}
.coltext-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* color: black; */
}
.imgs{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.ftr-1{
    height: 390px;
    width: 460px;
    border-radius: 40px;
    position: absolute;
    top: 315vh;
    left: 153px;
}
.ftr-2{
    height: 420px;
    width: 500px;
    /* border-radius: 20px; */
    position: absolute;
    border-radius: 40px;
    top: 395vh;
    left: 57.5%;
}
.fifth{
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 70px;
    background-color: #6663e9;
    height: 400px;
}
.fifth{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.fifth-text-1{
    color: white;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    width: 75%;
    line-height: 71px;
}
.fifth-text-2{
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 70%;
    text-align: center;
}
.fifth-1{
    display: flex;
    flex-direction: row;
    /* justify-content:center; */

}
.textbox{
    margin-right: 30px;
    padding-left: 40px;
    background-image:url(./assets/Icons/mail.png);   
    background-position:left;   
    background-repeat:no-repeat;   
    /* padding-left:17px; */
    font-size: 20px;
    border: none;
    background-color: #5654d1;
    width: 60vh;
    border-radius: 40px;
    color: white;
}
.textbox::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.textbox:focus { 
    outline: none !important;
    /* border-color: #719ECE; */
    /* border-color: black; */
    box-shadow: 0px 0 10px #719ECE;
 }
.subscribe{
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    color: #6663e9;
    width: 20vh;
    height: 50px;
    border: none;
    border-radius: 40px;
}
.subscribe:hover{
    cursor: pointer;
    transform:scale(0.9);
}
.sixth{
    margin-top: 60px;
    margin-left: 180px;
    margin-right:180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-n-logos-n-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 20vh;
    /* width: 100%; */
}
.only-logos{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.fb:hover,.twitter:hover,.insta:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.lorem6{
    color: black;
    font-size: 15px;
    /* font-weight: 300; */
    width: 70%;
    font-weight: 400;
}
.three-cols{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.location, .contact, .legals{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.texts-cols{
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.texts-cols:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.heading{
    padding-bottom: 20px;
    color: black;
    font-weight: 600;
    font-size: 17px;
}
.heading:hover{
    text-decoration: underline;
}