/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

/* this is to design the navbar */
.navbar-container{
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 40px;
    margin-left: 90px;
}

/* this is for that UL list */
.list{
    margin: 10px;
    display: flex;
    margin-left: 70px;
    flex-direction: row;
}

/* this is for each individual item */
.list-item{
    list-style-type: none;
    margin-left: 60px;
    margin-top: 13px;
    font-weight: bold;
    text-align: center;
    font-family: Orbitron;
    font-size: 23px;
}

/* this is to apply the font inc and underline on font when hovered */
.list-item:hover{
    text-decoration: underline;
    font-size: 25px;
}

/* tgis is those 2 things..search button and magnify glass img */
.button-group{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 30px;
    right: 150px;
}

/*this is for the search button in navbar  */
.nav-button{
    border: 1px solid black;
    border-radius: 7px;
    background-color: white;
    width: 130px;
    height: 35px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 25px;
    /* padding-bottom: 10px; */
}

/* this is the below section */
.hero-container{
    display: flex;
}

/* this is the person image */
.hero-container>div>img{
    height: 450px;
    width: 400px;
    position: relative;
    top: 70px;
    left: -40px;
    margin-left: 80px;
}

/* this is the square pattern class */
.square{
    order:1;
}

/* this is the square pattern image...here I put this image below person
image by using position property */
.square>img{    
    height: 350px;
    width:380px;
    position: absolute;
    top:330px;
    left:190px;    
}

/* this is the star images...here I m not able to place 2 starts differently
because they have the same class */
.star{
    position: relative;
    top: 50px;
    right: 70px;    
    order:2;
    /* background-color:red; */
    /* height: 200px;
    width: 200px; */
}

.star > img{
    height: 50px;
    width: 50px;
    /* background-color: pink; */
}

/* this is the globe image class */
.globe{
    position: relative;
    top: 10px;
    left: 800px;
    order:0;    
}

/* this is the globe image */
.globe>img{
    height:50px;
    width: 50px;
}

/* this is all the content..I put it in the flex column so as to vertically align */
.hero-container-right{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

/* this is the icons and both buttons */
.hero-container-right>div{    
    margin-left:150px;
    margin-top: -20px;    
}


/* this is for big heading */
.hero-heading{
    font-family: Orbitron;
    font-size: 56px;
    margin-top: 130px;
    margin-left: 60px;  
}

/* this is the small description */
.hero-description{
    font-family: poppins;
    color: grey;
    text-align: center;
    font-size: 14px;
    margin-right: 100px;
    margin-left: 150px;
    margin-top: -10px;
    padding: 0px;
}

/* this is for email button */
.button-email{
    background-color: #fff;
    font-family: Orbitron;
    color: black;
    font-size: 20px;
    height: 30px;
    width: 180px;
    border-radius: 8px;
    margin-top: 70px; 
}

/* this is for join now button */
.button-join{
    background-color: black;
    font-family: Orbitron;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 110px;
    border-radius: 8px;
    /* margin-top: 70px; */
    margin-left: 20px;
    position: relative;
    top: -3px;
}

/* to target the 2 buttons */
div.hero-container-right div:nth-child(2n-1){
    margin-left: 20px;
    /* background-color: red; */
    /* padding: 10px; */
}

/* to target the icons and contact us heading */
div.hero-container-right div:nth-child(2n){
    margin-left: 0px;
    margin-top:10px ;
    /* background-color: yellow; */

}

/* for contact us heading */
.contact-heading{
    margin-top: 100px;
    margin-left: 50px;
    font-family: poppins;
    color: gray;
    /* padding-top: -50px; */
    margin-bottom: -5px;
    font-weight: 500;
    font-size: 20px;
}

/* for the icons..used gap here for making space in between them */
.icons{
    display: flex;
    padding-left: 10px;
    padding-top: 0px;
    gap: 20px;
}
.icons img{
    height:30px ;
    width: 30px;
}

/* trying something for placing the image of 2 stars...not able to do as of now */
/* .star>img{
    margin-top: 10px;
    margin-left: 00px;
    padding-top: 100px;
} */

/* good concept..to target the image of star...by using nth:child property */

/* this is same as -" .hero-container > span:nth-child(1 or 2) > img  " */
.hero-container > span:nth-child(2) > img{
    height: 40px;
    width: 25px;
    position: relative;
    right: 800px;
    top:450px;
    /* background-color: cyan; */
}
.hero-container > span:nth-child(3) > img{
    position: absolute;
    top: 10px;
    right: 70px;
    /* background-color: yellow; */
}

.search-icon{
    margin-top: 5px;
    color: grey;
    height: 20px;
    width: 1px;
    margin-right: 35px;
}