body{
    font-family: Poppins;
    margin: 0px;
    padding: 0x;
    overflow-x: hidden;
}
.navbar{
    margin-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.ul-nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.item{
    padding-inline: 20px;
}
.item:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.2);
}
/* .btn-start{
    background-color: white;
    color: #722ed1;
    border-radius: 40px;
} */
/* .btn-start:hover{
    cursor: pointer;
    transform: scale(1.2);
} */
.linear-gradiant{
    /* height: 600px; */
    margin-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 250px;
    background: linear-gradient(-183deg, #e8f4ff 70%, white 30%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* transform: rotate(-30deg); */
    /* background-position-x: right; */
}
.col-l-g{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.img-text{
    margin-top: 20px;
    background-image: url(./assets/edit-brightness.svg);
    background-position: left;
    background-position: 5px;
    background-color: white;
    background-repeat:no-repeat;
    color: #722ed1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    width: 34%;
    height: 30px;
}
.img-text:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.p-text{
    position: relative;
    top: -9px;
    padding-left: 20px;
    font-size: 15px;
    font-weight:500;
}
.data-text{
    color: black;
    font-size: 50px;
    font-weight: 600;    
    width: 67%;  
    line-height: 1.1;
    margin-top: -5px;
}
.imag1{
    position: relative;
    right: 90px;
}
.harness{
    margin-top: -70px;
    color: gray;
    font-size: 15px;
    font-weight: 400;    
    width: 67%;  
}
.two-btns{
    /* padding-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.free-trial,.s-f-t{
    color: white;
    background-color: #722ed1;
    border: none;
    border-radius: 40px;
    padding-inline: 15px;
    font-weight: 500;
}
.free-trial{

    height: 30px;
    width: 120px;
    /* color: red; */
}
.l-m{
    margin-left: 30px;
    color: #722ed1;
    background-color: white;
    border: none;
    border-radius: 40px;
    border: 2px solid #722ed1;
    padding: 5px;
    /* padding-top: 5px; */
    width: 120px;
    height: 29px;
    font-size: 14px;
}
.l-m:hover,.s-f-t:hover,.free-trial:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.eye{
    /* margin-top: -80px; */
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.eye-img{
    background-image: url(./assets/Icon\ awesome-eye.png);
    background-color: white;
    background-position: left;
    background-repeat: no-repeat;
    /* color: #722ed1; */
    border-radius: 40px;
    border: none;
    width: 180px;
}
.eye-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.qubly{
    font-size: 20px;
    font-weight: 600;
    color:#722ed1;
}
.get-actionable{
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.lorem20{
    margin-top: -10px;
    color: gray;
    font-weight: 500;
    font-size: 15px;
    /* align-items: center; */
    text-align: center;
    width: 70%;
}
.row-3-boxes{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.middle-heading{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.middle-heading:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(0.9);
}
.bottom-text{
    color: gray;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 80%;
}
.box-1,.box-2,.box-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.img-left-text-right{
    padding-top: 150px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.okay{
    padding-top: 50px;
    flex-direction: row-reverse;
}
.col-r{
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.product-teams{
    background-image: url(./assets/Group\ 11.svg);
    background-color: whitesmoke;
    background-position: left;
    background-repeat: no-repeat;
    /* color: #722ed1; */
    border-radius: 40px;
    border: none;
    width: 230px;
}
.engineering{
    background-image: url(./assets/Group\ 28.svg);
    width: 280px;
}
.product-teams:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.product{
    font-size: 20px;
    font-weight: 600;
    color:#722ed1;
    margin-left: 25px;
}
.launch{
    margin-top: -5px;
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.engineering-3{
    font-size: 35px;
    /* width: 120%; */
}
.light-text,.maintenance{
    margin-top: -20px;
    color: gray;
    font-weight: 500;
    font-size: 17px;
    /* align-items: center; */
    /* text-align: center; */
    width: 70%;
}
.maintenance{
    width: 100%;
}
.image6{
    position: relative;
    left: 120px;
}
.rotate{
    margin-left: -50px;
    margin-top: 70px;
    padding-top: 150px;
    padding-bottom: 70px;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #e8f4ff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    rotate: -5deg;
    width: 100%;
}
.rotate-1{
    rotate: 5deg;
}
.SullivanAnalytics{
    margin-left: 140px;
    /* padding-right: 250px; */
    color: black;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    /* padding-right: 150px; */
    width: 70%;
}
.profile,.rown,.cto{
    position: relative;
    right: 110px;
}
.profile:hover,.rown:hover,.cto:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}
.profile{
    align-items: center;
    align-self: center;
    padding-bottom: 30px;
}
.rowan{
    margin-bottom:-10px;
}
.cto{
    color: black;
    font-size:20px;
    font-weight: 700;
    text-align: center;
}
.logoss{
    /* margin-left: -50px; */
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
.hr{
    margin-left: 100px;
    /* margin-right: 450px; */
    width: 70%;
    font-weight: 600;
    /* color: #722ed1; */
    /* height: 5px; */
}
.div-form{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.qubly-texts-logos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.qubly-text{
    color: black;
    font-size: 35px;
    font-weight: 700;
    width: 80%;
}
.two-logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    /* padding-top:-60px; */
    /* position: relative;
    right: 70px; */
}
.signup-form{
    background-color: #f9f0ff;
    /* background-color: white; */
    border-radius: 10px;
    width: 70%;
    /* border:f black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 10px;
    /* position: relative;
    top: -80px; */
    /* align-items: center; */
}
.bg-color{
    background-color:#f9f0ff;
    width: 100%;
    border-radius: 10px;
    /* position: relative; */
    /* top: -50px; */
}
.signup{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.s-y-f-t{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #722ed1;
    font-size: 15px;
    margin-left:50px;
    margin-right:50px;
    cursor: pointer;
}
.s-y-f-t:hover{
    cursor: pointer;
    transform: scale(0.9);
    /* color:#722ed1;
    background-color:white; */
}
.or{
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.acc{
    color: gray;
    font-weight: 300;
    font-size: 15px;
}
.okay-2{
    padding-top: 50px;
}
.hr-1{
    display: inline;
    width: 40%;
    margin-left: 0px;
}
.fields{
    background-color: white;
    border-radius: 5px;
    margin-top: 18px;
    border: none;
    height: 50px;
    border: 1px solid black;
    /* border-radius: 5px; */
    /* color: white; */
    /* background-color: #722ed1; */
    font-size: 15px;
    margin-left:50px;
    margin-right:50px;
}
.fields::placeholder{
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
}
.signin-google{
    align-self: center;
}
.signin-google:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
.hr-3,.hr-4{
    width: 15%;
    margin-left: 0px;
    margin-left: 0px;
}
.hr-4{
    position: relative;
    top: -128px;
    left: 250px;
}
.acc{
    text-align: center;
    font-weight: 500;
    color: gray;
    font-size: 15px;
}
.trusted{
    position: relative;
    top: -65px;
    left: 130px;
    color: gray;
    font-weight: 600;
}
.hr-last{
    width: 80%;
}
.footer{
    background-color: #e8f4ff;
    margin-top: 150px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-last{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.logos-3{
    /* margin-top: -80px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
.text-last{
    margin-top: 7px;
}
.text-last:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
.loremlast{
    /* margin-top: -70px; */
    color: black;
    font-size: 15px;
    font-weight: 400;
    width: 75%;
}
.icon-last:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.5);
}
.heading-last{
    list-style-type: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
}
.head{
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
}
.head:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
}
.developers-last {
    width: 30%;
}
.email-last{
    z-index: 1;
    color: black;
    background-color:white;
    background:url(./assets/Icon\ ionic-ios-send.png);
    background-position: right;
    background-repeat: no-repeat;
    /* background-position: 10px; */
    /* border: 5px; */
    border: 1px solid white;
    height: 30px;
}
input[type=email]{
    /* color:white; */
    background-color: white;
}