body {
    background-color:#3C329A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .clock {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #6758F6;
    padding: 50px;
    border-radius: 10px;
    color: white;
  }
  
  .time {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  

  