body{
    background-color: #0f0f10;
    font-family: Poppins;
    overflow-x: hidden;
}
*{
    padding-top: 10px;
    /* margin-right: 50px; */
}

.navbar{
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 50%; */
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: flex-start;
}
.navlist-text{
    margin-top: -5px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    /* align-items: flex-start; */
}
.navlist-text:hover{
    cursor: pointer;
    transform: scale(0.9);
    text-decoration: underline;
}
.shop{
    color: white;
    background-color: #1e1e21;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    border: none;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.shop:hover{
    cursor: pointer;
    color: #1e1e21;
    background-color: white;
    transform: scale(0.9);
    font-weight: 600;
    font-size: 15px;
}
.div-main-img{
    padding-left: 250px;
    margin-right: 250px;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.main-img{
    /* width: 20%; */
    height: 550px;
    position: relative;
    top: -200px;
    left: 10%;
}
.onear{
    position: absolute;
    top: 120px;
    left: 54%;
    width: 330px;
}
.beats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 67%;
}
.beats-3{
    margin-top: 80px;
    color: white;
    font-size: 50px;
    font-weight: 500;   
}
.overview{
    color: white;
    font-size: 20px;
    font-weight: 500;      
    margin-top: -10px;
}
.lorem{
    color: white;
    font-size: 12px;
    font-weight: 200;      
    width: 30%;
    margin-top: -10px;
}

.bag{
    margin-top: 25px;
    background-color: #1e1e21;
    background-image:url(./assets/Icons/Group.svg);
    background-repeat: no-repeat;
    background-position: 15px;
    border-radius: 10px;
    border: none;
    width: 230px;
    height: 50px;
    /* padding-left: 10px; */
}
.bag:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.add-bag{
    /* padding-left: 10px; */
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-align:center;
    position: relative;
    top: -25px;
    left: 15px;
}
.nk{
    font-weight: 600;
    font-size: 25px;
    text-align: right;
    margin-left: 20px;
}
.specs{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: ; */
}
.imgs-4{
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text-specs{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .specslogo{
        left: 50%;
} */
.four{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.three-texts-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid white; */
}
.specsimg{
    align-self: center;
}
.middle{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: -5px;
}
.bottom{
    color: white;
    font-size: 12px;
    font-weight: 400;    
    margin-top: -25px;
    width: 70%;
}
.col-1{
    position: relative;
    left: 30px;
}
.col-4{
    position: relative;
    left: 30px;
}
.case{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.caselogo{
    align-self: center;
    /* margin-left: 500px; */
}
.case-row{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 450px;
    /* align-items: center; */
}
.case-col{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-case{
    color: white;
    font-weight: 400;
    font-size: 15px;
    width: 35%;
    line-height: 30px;
}
.more-info{
    margin-top: 20px;
    background-color: #1e1e21;
    border-radius: 5px;
    border:none;
    background-image: url(./assets/Icons/group.png);
    background-position: 10px;
    background-repeat: no-repeat;
    width: 23%;
    color: white;
    font-weight: 300;
    font-size: 20px;
    /* text-align: right; */
}
.more-info:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.more-info{
    text-align: center;
    padding: 10px;
}
.immerse{
    background-color:#181a1b;
    border-radius: 10px;
    border: none;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}
.immerse-text{
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 70%;
}
.p-p-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
}
.off{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.buy-now{
    background-image: url(./assets/Icons/shoppingBag.png);
    background-position: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    background-repeat: no-repeat;
    width: 45%;
    height: 40px;
}
.buy-now:hover{
    cursor: pointer;
    transform: scale(0.9);
}
.chosestyle{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 100px; */
}
.headphones-row-1 , .headphones-row-2{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headphones-row-2{
    margin-top: 120px;
    position: relative;
    right: 100px;
}
.headphone-1,.headphone-2,.headphone-3{
    border: none;
    border-radius: 5px;
    background-color:#1e1e21;
    height: 30vh;
    width: 100%;
}
.headphone-2{
    margin-inline: 60px;
}
.black-h1{
    align-self: flex-start;
    height: 200px;
    width: 200px;
    position: relative;
    top: -90px;
}
.t-t-i{
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text-text{
    color: white;
    /* font-weight: 500; */
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.up{
    margin-left: 10px;
    font-weight: 600;
}
.down{
    margin-left: 10px;
    margin-top: -20px;
    font-weight: 300;
}
.for-shopping-logo{
    margin-top: 40px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: black;
    height: 4vh;
    width: 35px;
}
.shopping-bag{
    position: relative;
    top:-10px;
    left: 6px;
}
.shopping-bag:hover{
    cursor: pointer;
    transform: scale(0.9);
    /* background-color: red; */
}
.last{
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.ul-1{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-left: -70px;
    margin-top: -25px;
}
.testt:hover{
    cursor: pointer;
    transform: scale(0.9);
    text-decoration: underline;
}
.heading{
    font-size: 19px;
    color: white;
    font-weight: 700;    
}
.email-logos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.email{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #1e1e21;
    width: 80%;
    height: 40px;
}
.email::placeholder{
    color: white;
    text-align: left;
    padding-left: 20px;
}
.logos-last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-inline: 10px; */
}
.logo-1{
    padding-right: 9px;
}
.logo-1:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.subscribe-btn{
    background-image: url(./assets/Icons/rightArrow.png);
    background-repeat: no-repeat;
    background-position: 5px;
    background-color: black;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    color: white;
    height: 40px;
    width: 90px;
    position: relative;
    top: -55px;
    right: 50px;
    cursor: pointer;
}
.subscribe-btn:hover{
    transform: scale(0.9);
}
.sub-text{
    text-align: right;
    position: relative;
    top: -20px;
}
.uparrow{
    margin-top: 60px;
    margin-right: 40px;
    cursor: pointer;
}
.uparrow:hover{
    transform: scale(1.3);
}