*{
  padding: 0px;
  margin: 0px;
}
.App {
  text-align: center;
  /* padding: 20px; */
}
.header{
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
}
.product-list {
  padding-top: 20px;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.title{
  margin-top: 15px;
}
.price{
  margin-top: 15px;
}
.product {
  background-color: black;
  color: white;
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 0px none;
}
.img{
  background-color: white;
  border-radius: 10px;
  border: 0px none;
  padding: 5px;
}
.btns{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn{
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 0px none;
  padding: 10px;
  cursor: pointer;
}
.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
